

.container
  = link_to 'Show', category, class: 'btn btn-default'
  = link_to 'Back', categories_path, class: 'btn btn-default'

  .row
    %h1 Editing category
    .col-md-8
      = render 'form'


